{% extends "layout.html" %}
{% block content %}
<div class="panel panel-primary">
    <a name="post"></a>
    <div class="panel panel-heading">
        Upload a file:
    </div>
    <div class="panel panel-body">
        <form role="form" action="/upload" method=post enctype=multipart/form-data>
            <div class="form-group">
                <input type=file name=file>
                <p class="help-block">Select the file you'd like posted</p>
            </div>
            <button type="submit" class="btn btn-lg btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
